/* Creación  de Variables */
:root{
    --main-color: #b09774;
    --black: #13131a;
    --bg: #fcfcfc;
    --border: .1rem solid rgba(255,255,255,.3);
}

/* Estilos a todos los elementos */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg);
}

section{
    padding: 3rem 7%;
}

/* Inicio Titulos de las section */
.titulo-seccion{
    text-align: center;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.titulo-seccion span{
    color: var(--main-color);
    text-transform: uppercase;
}
/* Fin Titulos de las section */

/* Inicio para Botones */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #70e045;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    letter-spacing: .2rem;
}
/* Fin para Botones */


/* ///////  Inicio para Header ///////  */
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, .07);
}

.header .logo img{
    height: 6rem;
    border-radius: 50%;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .iconos div{
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

#menu-btn{
    display: none;
}
/* Fin para Header */

/* ///////  Inicio para Hogar ///////  */
.hogar{ 
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

.hogar .contenido{
    max-width: 60rem;
}

.hogar .contenido h3{
   font-size: 6rem;
   text-transform: uppercase;
   color: rgb(244 244 244);
}

.hogar .contenido p{
    font-size: 2rem;
   font-weight: lighter;
   line-height: 1.8;
   padding: 1rem 0;
    color: rgb(244 244 244);
 }
/* Fin para Hogar */

/* ///////  Inicio para Conocenos ///////  */

.conocenos .columna{
    display: flex;
    align-items: center;
    background: #f2f1f1;
    flex-wrap: wrap;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, .07);
 }

 .conocenos .columna .imagen{
    flex: 1 1 45rem;
 }

 .conocenos .columna .imagen img{
    width: 100%;
    height: 40rem;
    border-radius: 10px;
 }
 .conocenos .columna .contenido{
    flex: 1 1 45rem;
    padding: 2rem;
 }

 .conocenos .columna .contenido h3{
    font-size: 3rem;
    color: var(--main-color)
 }

 .conocenos .columna .contenido p{
    font-size: 1.6rem;
    color: #9d5b5b;
    padding: 1rem 0;
    line-height: 1.8;
 }

/* Fin para Conocenos */

/* ///////  Inicio para Menú ///////  */

.menu .caja-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin: 0rem 7rem;
 }

 .menu .caja-contenedor .caja{
    background: #e9eade8f;
    border: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    padding: 3rem;
    text-align: center;
    border: var(--border);
    border-radius: 15px;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
 }

 .menu .caja-contenedor .caja img{
    height: 19rem;
    width: 100%;
    border-radius: 15px;
 }

 .menu .caja-contenedor .caja h3{
    color: #d37f7f;
    font-size: 2rem;
    padding: 1rem 0;
 }

 .menu .caja-contenedor .caja p{
    color: rgb(59, 56, 56);
    font-size: 1.5rem;
 }

 .menu .caja-contenedor .caja:hover{
        background: #f1ebeb;
        transform: scale(1.1);
 }

/* Fin para Menú */

/* ///////  Inicio para Contactos ///////  */

.contactanos .columna{
    display: flex;
    align-items: center;
    background: #f9f6f6;
    flex-wrap: wrap;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, .07);
 }

 .contactanos .columna .mapa{
    flex: 2 2 45rem;
 }

 .contactanos .columna .mapa iframe{
    width: 100%;
    height: 350px;
    border-radius: 15px;
 }
 .contactanos .columna .contenido{
    flex: 1 1 45rem;
    padding: 2rem;
 }

 .contactanos .columna .contenido ul{
    list-style-type: none;
    text-align: justify;
 }

 .contactanos .columna .contenido ul img{
    height: 19rem;
    width: 25rem;
    border-radius: 15px;
    margin-bottom: 2rem;
 }

 .contactanos .columna .contenido ul li{
    padding: 10px;
    color: #9d5b5b;
 }

 .contactanos .columna .contenido .iconos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 5rem;
    margin-bottom: 1.5rem;
 }

/* Fin para Contactos */











/* Media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
    
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: rgb(249 249 249);
        width: 30rem;
        height: calc(100vh - 9.5rem);
        overflow-y: auto;
	    scrollbar-width: none;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .hogar{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .hogar .contenido h3{
        font-size: 4.5rem;
    }

    .hogar .contenido p{
        font-size: 2rem;
    }

    .menu .caja-contenedor .caja:hover{
        background: #f1ebeb;
        transform: scale(1.0);
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .menu .caja-contenedor{
        margin: 0rem 0rem;
    }

}





 @media (max-width:450px){
    
    .menu .caja-contenedor{
        margin: 0rem 0rem;
    }

}

